<div class="container">
    <h2>{{t.gt("register_title")}}</h2>
    <div class="row d-flex justify-content-center">
        <p class="alert alert-vito-green text-center">
            {{t.gt("register_demo_warning")}}
        </p>
    </div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="form-group row">
            <div class="form-group col col-12 col-md-6">
                <label for="nameInput">{{t.gt("register_form_fn")}}</label>
                <input type="text" name="nameInput" id="nameInput" class="form-control" [(ngModel)]="user.firstName" required>
            </div>
            <div class="form-group col col-12 col-md-6">
                <label for="surnameInput">{{t.gt("register_form_ln")}}</label>
                <input type="text" name="surnameInput" id="surnameInput" class="form-control" [(ngModel)]="user.lastName" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col col-12 col-md-6">
                <label for="countryInput">{{t.gt("register_form_addr")}}</label>
                <input type="text" name="countryInput" id="countryInput" class="form-control" [(ngModel)]="user.address" required>
            </div>
            <div class="form-group col col-12 col-md-6">
                <label for="emailInput">{{t.gt("register_form_mail")}}</label>
                <input type="email" name="emailInput" id="emailInput" class="form-control" [(ngModel)]="user.email" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col col-12 col-md-6">
                <label for="passwordInput">{{t.gt("register_form_pass")}}</label>
                <input type="password" name="passwordInput" id="passwordInput" class="form-control" [(ngModel)]="user.password" required>
            </div>
        </div>
        <div class="form-group d-flex flex-column justify-content-center mt-2">
            <p class="alert alert-danger text-center mb-2" *ngIf="isError">
                {{t.gt("register_form_warn")}}
            </p>
            <button class="btn btn-vito-green" type="submit" [disabled]="!registerForm.form.valid || isSubmitted">{{t.gt("register_form_submit")}}</button>
        </div>
    </form>    
</div>