<div class="row justify-content-center">
    <div class="col col-12 col-md-8 d-flex flex-column align-items-center">
        <img src="{{image}}" alt="" width="300" height="300" id="displayImage">

        <div class="col container mt-3">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <p>Prediction: <span *ngIf="!!result">Week {{result.growthStage}}</span></p>
                </div>
                <div class="row">
                    <p *ngIf="!!result">Confidence: {{result.accuracy}}</p>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <form (ngSubmit)="onSubmit()" #correctionForm="ngForm">
                    <div class="form-group">
                        <label for="resultInput">Corrected prediction:</label>
                        <select class="form-select" [(ngModel)]="correctedResult" id="correctWeek">
                            <option value="1">week 1</option>
                            <option value="2">week 2</option>
                            <option value="3">week 3</option>
                            <option value="4">week 4</option>
                            <option value="5">week 5</option>
                            <option value="6">week 6</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-vito-green">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>