<div class="row justify-content-center mt-2">
    <div class="col col-12 col-md-8 d-flex flex-column align-items-center">
        <h2>Analyse an image...</h2>
        <img *ngIf="imgSource" src="{{imgSource}}" alt="" width="300" height="300" id="displayImage">
        <form (ngSubmit)="onSubmit()" #uploadForm="ngForm" class="mt-2">
            <div class="form-group">
                <label for="mailInput">Take a photo or select an image</label>
                <input type="file" accept="image/*" capture="user" name="imageInput" class="form-control" id="imageInput" (change)="onRefreshFile($event)" required>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button type="submit" class="btn btn-vito-green" [disabled]="!uploadForm.form.valid || isSubmitted">analyze</button>
            </div>
            <div class="bg-danger" *ngIf="submitError">
                <p>Please select a valid image</p>
            </div>
        </form>
    </div>
</div>