<div class="row p-2">
  <div class="col-12 text-center">
    <img src="../../../../assets/img/AmountAndAccuracy.PNG" height="400" width="100%">
  </div>
</div>
<div class="row p-2">
  <div class="col-12 text-center">
    <img src="../../../../assets/img/AmountByName.PNG" height="400" width="100%">
  </div>
</div>
<div class="row p-2">
  <div class="col-12 text-center">
    <img src="../../../../assets/img/AmountByPlace.PNG" height="400" width="100%">
  </div>
</div>
<div class="row p-2">
  <div class="col-12 text-center">
    <img src="../../../../assets/img/AmountByStageAndLocation.PNG" height="400" width="100%">
  </div>
</div>
<div class="row p-2">
  <div class="col-12 text-center">
    <a href="../../../../assets/files/Project4.0PowerBi.pbix">{{t.gt("dashboard_file_powerbi")}}</a>
  </div>
</div>
