<div class="row p-2">
  <div class="col col-12 col-lg-6 text-center">
    <img src="../../../../assets/img/AmountAndAccuracy.PNG" class="mw-100">
  </div>
  <div class="col col-12 col-lg-6 text-center">
    <img src="../../../../assets/img/AmountByName.PNG" class="mw-100">
  </div>
</div>
<div class="row p-2">
  <div class="col col-12 col-lg-6 text-center">
    <img src="../../../../assets/img/AmountByPlace.PNG" class="mw-100">
  </div>
  <div class="col col-12 col-lg-6 text-center">
    <img src="../../../../assets/img/AmountByStageAndLocation.PNG" class="mw-100">
  </div>
</div>  
<div class="row p-2">
  <div class="col-12 text-center">
    <a href="../../../../assets/files/Project4.0PowerBi.pbix">{{t.gt("dashboard_file_powerbi")}}</a>
  </div>
</div>
