<div *ngIf="!isLoggedIn">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        Project4.0
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      {{t.gt("home_description")}}
    </div>
    <div class="col-md-6 col-12">
      <img src="../../../assets/img/plantenhome.jfif" height="400" width="auto">
    </div>
  </div>
</div>
<div *ngIf="isLoggedIn">
  <div class="row">
    <div class="col-md-6 col-12 text-center">
      <div class="container">
          <div class="row">
            <div class="col">
              <a routerLink="/user/plots" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
                <img class="navbuttons" src="../../../assets/img/plots.jpeg" alt="" height="200" width="200">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a routerLink="/user/plots" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
                <h2 class="text-black d-inline-block">{{t.gt("navbar_plots")}}</h2>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <a routerLink="/user/upload" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
              <img class="navbuttons" src="../../../assets/img/picture.jpeg" alt="" height="200" width="200">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="/user/upload" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
              <h2 class="text-black d-inline-block">{{t.gt("navbar_upload")}}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <a routerLink="/user/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
              <img class="navbuttons" src="../../../assets/img/analyzing.jpeg" alt="" height="200" width="200">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="/user/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
              <h2 class="text-black d-inline-block">{{t.gt("navbar_dashboard")}}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
