<nav class="navbar fixed-top navbar-expand-md navbar-light bg-vito-green shadow-sm ps-2">
    <div class="container-fluid">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"><img src="../../../assets/img/greenhealthlogobw.png" height="45"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span *ngIf="!!displayName" class="m-auto me-3 pe-md-3" id="navToggleName">{{t.gt("navbar_name", [displayName])}}<span class="vicon-black-lg vicon-arrow-down"></span></span>
            <span *ngIf="!displayName" class="navbar-toggler-icon" id="navToggleButton"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav text-end">
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">{{t.gt("navbar_home")}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <a routerLink="/user/plots" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">{{t.gt("navbar_plots")}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <a routerLink="/user/upload" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">{{t.gt("navbar_upload")}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                  <a routerLink="/user/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">{{t.gt("navbar_dashboard")}}</a>
              </li>
                <li class="nav-item" *ngIf="!isLoggedIn" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">{{t.gt("navbar_login")}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <a href="#" (click)="logout()" class="nav-link">{{t.gt("navbar_logout")}}</a>
                </li>
                <select [ngModel]="t.currentLocale" (change)="onLanguageChange($event.target)" [compareWith]="compareFn" class="form-select bg-vito-green">
                    <option *ngFor="let lang of t.supportedLocales" [value]="lang">{{t.gt("lang_"+lang)}}</option>
                </select>
            </ul>
        </div>
    </div>
</nav>
