
<footer class="fixed-bottom pb-2">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col">
        <p class="text-center fst-italic fw-light">Made by <a href="https://twitter.com/TeamGreenHealth" class="text-decoration-none" target="_blank">Green Health</a> in collaboration with <a href="https://remotesensing.vito.be/" class="text-decoration-none" target="_blank">Vito</a> and <a href="https://www.thomasmore.be/" class="text-decoration-none" target="_blank">Thomas More</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-md-block d-none text-center">
        <a href="https://twitter.com/TeamGreenHealth" target="_blank"><img src="../../../assets/img/greenhealthlogo.png" height="45"></a>
      </div>
      <div class="col-md-4 d-md-block d-none text-center">
        <a href="https://remotesensing.vito.be/" target="_blank"><img src="../../../assets/img/vitologo.png" height="45"></a>
      </div>
      <div class="col-md-4 d-md-block d-none text-center">
        <a href="https://www.thomasmore.be/" target="_blank"><img src="../../../assets/img/tmlogo.jpg" height="45"></a>
      </div>
    </div>

  </div>
</footer>
